{% extends "base.html" %}

{% block content %}
<div id="root"></div>

<!-- Load the built React app from map/dist -->
<link rel="stylesheet" href="/map-assets/assets/index-27a5a712.css">
<script type="module" src="/map-assets/assets/index-88262b7d.js"></script>

<style>
  body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
  }

  #root {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 16rem;
    z-index: 10;
  }

  canvas {
    image-rendering: pixelated;
    background-color: #111;
  }
</style>
{% endblock %}